body {
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px Tahoma, Verdana, sans-serif;
}

/*HEADER
==========*/

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 36px;
  background: url('../img/menubg.jpg');
  color: #60b5ed;
  font-weight: 400;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 352px;
  border-right: 1px solid #60b5ed;
}

.main-menu a {
  display: block;
  width: auto;
  height: 36px;
  padding: 0 10px;
  color: #60b5ed;
  line-height: 36px;
}

.main-menu a:hover {
  background-color: #4eabda;
  color: #fff;
}

.oferset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.oferset a {
  align-items: center;
  height: 36px;
  margin: 0 9px;
  color: #fefefe;
  line-height: 36px;
}

.login-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 191px;
  height: 34px;
  margin-right: 20px;
  border: 1px solid #5aa4de;
  background: linear-gradient(top, #51b1dc 0%, #3d92cf 50%, #2e7ac4 100%);
  background: -webkit-linear-gradient(top, #51b1dc 0%, #3d92cf 50%, #2e7ac4 100%);
  background: -moz-linear-gradient(top, #51b1dc 0%, #3d92cf 50%, #2e7ac4 100%);
  background: -o-linear-gradient(top, #51b1dc 0%, #3d92cf 50%, #2e7ac4 100%);
  background: -ms-linear-gradient(top, #51b1dc 0%, #3d92cf 50%, #2e7ac4 100%);
  color: #fefefe;
}

.login-menu a {
  height: 36px;
  color: #fefefe;
  line-height: 36px;
  text-decoration: underline;
}

/*CONTENT (Cadastre-form)
=========================*/
.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cadastre-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 560px;
  height: 549px;
  background-color: rgba(0, 0, 0, .5);
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 62px;
  margin-bottom: 2px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 24px;
}

.fb {
  display: flex;
  margin-top: 36px;
}

.fb-block {
  height: 34px;
  border-top: 1px solid #7788b4;
  background: linear-gradient(top, #3e5694 0%, #334062 100%);
  background: -webkit-linear-gradient(top, #3e5694 0%, #334062 100%);
  background: -moz-linear-gradient(top, #3e5694 0%, #334062 100%);
  background: -o-linear-gradient(top, #3e5694 0%, #334062 100%);
  background: -ms-linear-gradient(top, #3e5694 0%, #334062 100%);
  line-height: 34px;
  text-align: center;
}

.fb a {
  color: #fff;
  line-height: 34px;
}

.fb-logo {
  display: inline-block;
  width: 37px;
  border-right: 1px solid #223c6d;
  border-radius: 4px 0 0 4px;
  font-size: 24px;
  font-weight: bolder;
}

.fb-text {
  display: inline-block;
  width: 236px;
  border-left: 1px solid #4c68a9;
  border-radius: 0 4px 4px 0;
}

.arrow {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.ou {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 27px;
}

.ou p {
  margin: 0 5px;
  color: #999;
}

.ou-line {
  width: 122px;
  height: 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #000;
}

input {
  display: block;
  border: 0;
  font-family: Tahoma;
}

.input {
  width: 276px;
  height: 36px;
  margin-bottom: 13px;
  border-bottom: 1px solid #494949;
  background: linear-gradient(to top, #111 0%, #0e0d0d 100%);
  color: #ccc;
  font-weight: bolder;
  text-indent: 1.5em;
  -moz-box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  -o-box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
}

.input:focus {
  background: #1b5288;
  -moz-box-shadow: inset 0 0 5px 0 #aba,0 5px 5px 0 #242424;
  -ms-box-shadow: inset 0 0 5px 0 #aba,0 5px 5px 0 #242424;
  -o-box-shadow: inset 0 0 5px 0 #aba,0 5px 5px 0 #242424;
  -webkit-box-shadow: inset 0 0 5px 0 #aba,0 5px 5px 0 #242424;
  box-shadow: inset 0 0 5px 0 #aba,0 5px 5px 0 #242424;
}

.checkbox > * {
  display: inline-block;
  color: #ccc;
}

.form button {
  display: block;
  width: 150px;
  height: 36px;
  margin: 0 auto;
  margin-top: 21px;
  padding: 0;
  border: 1px solid #6bb8e7;
  border-radius: 4px;
  background: -moz-linear-gradient(top, #6bb8e7, #2e7ac4);
  background: -ms-linear-gradient(top, #6bb8e7, #2e7ac4);
  background: -o-linear-gradient(top, #6bb8e7, #2e7ac4);
  background: -webkit-linear-gradient(top, #6bb8e7, #2e7ac4);
  background: linear-gradient(top, #6bb8e7, #2e7ac4);
  font-weight: bold;
}

.form button a {
  display: block;
  width: 150px;
  height: 36px;
  color: #eee;
  line-height: 36px;
}

.sub-footer {
  margin-top: 18px;
  color: #ccc;
  font-size: 11px;
  text-align: center;
}
